# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

Take Input From User

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [2]:
### Assignment 1: Creating and Accessing Tuples

# Create a tuple with the first 10 positive integers. Print the tuple.
tup = tuple((i for i in range(1,11)))
print(tup)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [3]:
### Assignment 2: Accessing Tuple Elements

# Print the first, middle, and last elements of the tuple created in Assignment 1.

first,*middle,last = tup
print(first,middle,last)

1 [2, 3, 4, 5, 6, 7, 8, 9] 10

In [6]:
### Assignment 3: Tuple Slicing

# Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

print(tup[:3])
print(tup[-3:])
print(tup[2:6])

(1, 2, 3)
(8, 9, 10)
(3, 4, 5, 6)

In [8]:
### Assignment 4: Nested Tuples

# Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.
tup1 = ((1,2,3),(4,5,6),(7,8,9))
print(tup1[1][2])

6

In [9]:
### Assignment 5: Tuple Concatenation

# Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.
t1 = (1, 2, 3)
t2 = (4,5,6)
print(t1 + t2)

(1, 2, 3, 4, 5, 6)

In [11]:
# Create a tuple with duplicate elements and 
# count the occurrences of an element. 
# Find the index of the first occurrence of 
# an element in the tuple.

t3 = (1, 2, 3, 2, 3, 4, 43, 1, 2, 3, 4)

print(t3.count(1))

print(t3.index(3))

2
2

In [12]:
### Assignment 7: Unpacking Tuples

# Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.
t4 = (1,2,3,4,5)

*all,last = t4
print(all,last)

[1, 2, 3, 4] 5

In [13]:
### Assignment 8: Tuple Conversion

# Convert a list of the first 5 positive integers to a tuple. Print the tuple.
li = [1,2,3,4,5]
t5 = tuple(li)
print(t5)

(1, 2, 3, 4, 5)

In [15]:
### Assignment 11: Tuple and String

# Create a tuple with the characters of a string.
#  Join the tuple elements into a single string. 
# Print the string.

t6 = ('a','b','c','d','e')

res = ''.join(t6)
print(res)

abcde

In [17]:
### Assignment 12: Tuple and Dictionary

# Create a dictionary with tuple keys and integer values. 
# Print the dictionary.
di = {("a",1),("b",2)}
print(di)

{('b', 2), ('a', 1)}

In [18]:
### Assignment 13: Nested Tuple Iteration

# Create a nested tuple and iterate over the elements, 
# printing each element.
t7 = ((1,2,3),(4,5,6),(7,8,9))

for i in t7:
    for j in i:
        print(j,end=" ")

1 2 3 4 5 6 7 8 9

In [20]:
### Assignment 14: Tuple and Set

# Create a tuple with duplicate elements. Convert it to a 
# set to remove duplicates and print the resulting set.


t8 = (1,2,3,1,2,4,6,7,8,21,2,34)
s1 = set(t8)
print(s1)

{1, 2, 3, 4, 34, 6, 7, 8, 21}

In [ ]:
### Assignment 15: Tuple Functions

# Write functions that take a tuple and return the minimum, maximum, 
# and sum of the elements.
#  Print the results for a sample tuple.
def op(t):
    total_sum = 0
    min_val = t[0]
    max_val = t[0]

    for i in t:
        total_sum += i
        if i < min_val:
            min_val = i
        if i > max_val:
            max_val = i

    print("Sum :-", total_sum)
    print("Minimum :-", min_val)
    print("Maximum :-", max_val)

# Example tuple
t = (1, 2, 3, 4, 5)
op(t)

Sum :- 15
Minimum :- 1
Maximum :- 5